body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.header {
    margin: 0px;
    padding-top: 0px;
    text-align: left;
    background-color: black;
    color: white;
    font-size: 30px;
}

* {
    margin: 0;
    padding: 0;
}

div#banner {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
}

div#banner-content {
    width: 80%;
    margin: 1%;
    padding: 0px;
    border: 1px solid #000;
    color: white;
    font-size: larger;
    font-weight: bolder;
    font-size: x-large;
    font-size: 30px;
}

div#main-content {
    padding-top: 70px;
}
.visible
{
    visibility:visible;
}
.imgsize
{
    height: 50px; 
    width: 40px
}
.product_details_right {
    width: 60%;
    float: right;
}
